{#
/**
 * @file commerce_product_bundle.html.twig
 * Default theme implementation to present product bundle data.
 *
 * This template is used when viewing product bundle pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_product_bundle()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('product_bundle') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
