commerce_product_bundle.commerce_product_bundle_item_type.*:
  type: config_entity
  label: 'Product bundle item type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
