commerce_product_bundle.commerce_product_bundle_type.*:
  type: config_entity
  label: 'Product bundle type'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    description:
      type: text
      label: 'Description'
    bundleItemType:
      type: string
      label: 'Bundle item type'
    orderItemType:
      type: string
      label: 'Order item type'
    locked:
      type: 'boolean'
      label: 'Locked'
    traits:
      type: sequence
      label: 'Traits'
      orderby: value
      sequence:
        type: string

commerce_product_bundle.commerce_product_bundle_i_type.*:
  type: config_entity
  label: 'Product bundle item type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
    description:
      type: text
      label: 'Description'

field.formatter.settings.commerce_product_bundle_add_to_cart:
  type: mapping
  label: 'Entity reference rendered entity display format settings'
  mapping:
    view_mode:
      type: string
      label: 'View mode'
    combine:
      type: boolean
      label: 'Whether to attempt to combine order items containing the same product bundle items'
